/* TODO generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 100vw;
    position: fixed;
}


/* TODO tag header */

/* TODO classi header */

.container1 {
    width: 25%;
    float: left;
    vertical-align: middle;
}

.container2 {
    width: 25%;
    float: right;  
    vertical-align: middle;
}

.list {
    list-style-type: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.h-1 {
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
}
