/* TODO generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 100vw;
}

/* TODO tag header */

header {
    width: 100%;
    position: fixed;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

/* TODO classi header */

.conimg {
    float: left;
    padding-top: 8px;
}


.container1 {
    float: left;
    padding-top: 8px;
}

.container2 {
    float: right;
}

.logo {
    display: inline-block;
}

.list {
    display: inline-block; 
    list-style-type: none;
    margin-top: 1%;
    color: black;
}

.h-0 {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.h-1 {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.inizia {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0061ff;
    color: white;
}

/* TODO tag prima sezione main */

h1 {
   padding-top: 11%;
   margin-right: 13%;
   margin-left: 13%;;
   text-align: left;
   font-size: 65px;
   
}

/* TODO classi prima sezione main */

.mainuno {
    background-color: #b4d0e7;
    margin-bottom: -80px;
    height: 700px;
}

.p-1{
   width: 30%;
   margin-left: 13%;
   margin-top: 3%;
   float: left;
   font-size: 18px;
}

.jumbo {
    float: left;
    width: 50%;
    margin-left: 4%;
    margin-top: 3%;
}

.margin {
    display: inline-block;
    margin-top:8%;
}

.fa-solid {
    font-size: 50px;
}

.prova {
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 15px;
}
